<div class="mark {{m_type}}">
  <div class="inner clearfix">
    <div class="left">
      <div class="point_name">{{point_name}}</div>
      <div class="type">{{m_type}}</div>
    </div>
    <div class="right">
      <div class="timer">{{mins}} m {{seconds}} sec</div>
    </div>
  </div>
</div>


