.livereload
.idea/*
.DS_Store
log/*
tmp/**/*
db/*.sqlite3
config/database.yml
coverage
solr
public/cache
public/system
public/stylesheets/*
public/javascripts/*_packaged.js
doc/specs.html
doc/features.html
tags
*.swp
*.swo
*.sw*
rerun.txt
.bundle
config/database.yml
specifications
cache
gems
in.vim
.sass-cache/*
