// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

//@import "compass/css3/font-face"
h1, h2, h3 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: normal;
  letter-spacing: 2px;
}
