/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 5, ../../app/stylesheets/partials/_fonts.scss */
h1, h2, h3 {
  font-weight: bold;
  font-size: 20px;
}

/* line 8, ../../app/stylesheets/partials/_page.sass */
body, select, input, textarea {
  color: #444444;
}

/* line 14, ../../app/stylesheets/partials/_page.sass */
h4, h5, h6 {
  font-weight: bold;
}

/* line 19, ../../app/stylesheets/partials/_page.sass */
a, a:active, a:visited {
  color: #607890;
}

/* line 22, ../../app/stylesheets/partials/_page.sass */
a:hover {
  color: #003366;
}

/* line 25, ../../app/stylesheets/partials/_page.sass */
strong, th {
  font-weight: bold;
}

/* line 28, ../../app/stylesheets/partials/_page.sass */
small {
  font-size: 85%;
}

/* line 38, ../../app/stylesheets/partials/_page.sass */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 42, ../../app/stylesheets/partials/_page.sass */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 50, ../../app/stylesheets/partials/_page.sass */
body.pages {
  background: url(img/gc_bg.jpg) left top no-repeat fixed;
}

/* line 54, ../../app/stylesheets/partials/_page.sass */
p {
  margin: 0;
  padding: 0;
}

/* line 57, ../../app/stylesheets/partials/_page.sass */
#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 1, ../../app/stylesheets/partials/_custom.sass */
body {
  color: #ececec;
  height: 101%;
  margin: 0 0 1px;
  padding: 0;
  background: url("bg.jpg") left top repeat;
}

/* line 77, ../../app/stylesheets/partials/_custom.sass */
#point_nav {
  height: 46px;
  border-top: solid 2px #333333;
  border-bottom: solid 1px #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(50%, #111111), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #222222, #111111, #000000);
  background-image: -moz-linear-gradient(top, #222222, #111111, #000000);
  background-image: -o-linear-gradient(top, #222222, #111111, #000000);
  background-image: -ms-linear-gradient(top, #222222, #111111, #000000);
  background-image: linear-gradient(top, #222222, #111111, #000000);
}
/* line 82, ../../app/stylesheets/partials/_custom.sass */
#point_nav #logo {
  float: left;
  margin: 3px 10px 0px 10px;
}
/* line 85, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  width: 32px;
  padding: 0 10px;
  border-right: solid 1px #222222;
  height: 46px;
  float: left;
  display: block;
}
/* line 94, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#info {
  background: url(info.png) 10px 6px no-repeat;
}
/* line 96, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#info.depressed {
  background-color: #1176c4;
  -moz-box-shadow: inset -1px -1px 2px 1px #111111;
  -webkit-box-shadow: inset -1px -1px 2px 1px #111111;
  -o-box-shadow: inset -1px -1px 2px 1px #111111;
  box-shadow: inset -1px -1px 2px 1px #111111;
}
/* line 99, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#history {
  background: url(history.png) 10px 6px no-repeat;
}
/* line 101, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#history.depressed {
  background-color: #1176c4;
  -moz-box-shadow: inset -1px -1px 2px 1px #111111;
  -webkit-box-shadow: inset -1px -1px 2px 1px #111111;
  -o-box-shadow: inset -1px -1px 2px 1px #111111;
  box-shadow: inset -1px -1px 2px 1px #111111;
}
/* line 104, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#gallery {
  background: url(gallery.png) 10px 10px no-repeat;
}
/* line 106, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#gallery.depressed {
  background-color: #701313;
  -moz-box-shadow: inset -1px -1px 2px 1px #111111;
  -webkit-box-shadow: inset -1px -1px 2px 1px #111111;
  -o-box-shadow: inset -1px -1px 2px 1px #111111;
  box-shadow: inset -1px -1px 2px 1px #111111;
}
/* line 109, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#goog_map {
  background: url(marker.png) 10px 6px no-repeat;
}
/* line 111, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#active.nav {
  background: url(walk.png) 10px 6px no-repeat;
}
/* line 113, ../../app/stylesheets/partials/_custom.sass */
#point_nav .nav#active.nav.depressed {
  background-color: #127a00;
  -moz-box-shadow: inset -1px -1px 2px 1px #111111;
  -webkit-box-shadow: inset -1px -1px 2px 1px #111111;
  -o-box-shadow: inset -1px -1px 2px 1px #111111;
  box-shadow: inset -1px -1px 2px 1px #111111;
}

/* line 116, ../../app/stylesheets/partials/_custom.sass */
#point, #activity, #info_page, #zoomy_image, #activities {
  margin-top: 20px;
}

/* line 118, ../../app/stylesheets/partials/_custom.sass */
#mini_nav {
  padding: 5px 20px;
  background: #ececec;
  z-index: 10;
  width: 100%;
  border-bottom: solid 2px #888888;
}
/* line 124, ../../app/stylesheets/partials/_custom.sass */
#mini_nav a {
  float: left;
  margin-right: 10px;
}
/* line 127, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav {
  float: left;
}
/* line 129, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav a {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #155969;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1d7d94), color-stop(50%, #155969), color-stop(100%, #0c353e));
  background-image: -webkit-linear-gradient(top, #1d7d94, #155969, #0c353e);
  background-image: -moz-linear-gradient(top, #1d7d94, #155969, #0c353e);
  background-image: -o-linear-gradient(top, #1d7d94, #155969, #0c353e);
  background-image: -ms-linear-gradient(top, #1d7d94, #155969, #0c353e);
  background-image: linear-gradient(top, #1d7d94, #155969, #0c353e);
  border-color: #041114;
  border-left-color: #155969;
  border-top-color: #155969;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(150, 174, 180, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(150, 174, 180, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(150, 174, 180, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(150, 174, 180, 0.5);
  color: white;
  text-shadow: #082329 0 1px 2px;
}
/* line 45, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav a:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 47, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav a:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 49, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav a:active {
  padding: 5px 10px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav a:hover, #mini_nav #pages_nav a:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #228fa9), color-stop(50%, #196b7e), color-stop(100%, #0c353e));
  background-image: -webkit-linear-gradient(top, #228fa9, #196b7e, #0c353e);
  background-image: -moz-linear-gradient(top, #228fa9, #196b7e, #0c353e);
  background-image: -o-linear-gradient(top, #228fa9, #196b7e, #0c353e);
  background-image: -ms-linear-gradient(top, #228fa9, #196b7e, #0c353e);
  background-image: linear-gradient(top, #228fa9, #196b7e, #0c353e);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
#mini_nav #pages_nav a:active, #mini_nav #pages_nav a.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #16444f), color-stop(100%, #1b5563));
  background-image: -webkit-linear-gradient(top, #16444f, #1b5563);
  background-image: -moz-linear-gradient(top, #16444f, #1b5563);
  background-image: -o-linear-gradient(top, #16444f, #1b5563);
  background-image: -ms-linear-gradient(top, #16444f, #1b5563);
  background-image: linear-gradient(top, #16444f, #1b5563);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #041114;
}

/* line 131, ../../app/stylesheets/partials/_custom.sass */
#mobile {
  min-height: 600px;
}
/* line 133, ../../app/stylesheets/partials/_custom.sass */
#mobile p {
  font-size: 16px;
  padding: 16px;
}
/* line 136, ../../app/stylesheets/partials/_custom.sass */
#mobile p.fun_fact {
  padding: 10px;
  background: #ececec;
  color: #333333;
  font-size: 14px;
  font-style: italic;
  padding: 10px 16px;
  -moz-box-shadow: inset 1px 1px 3px 0 #333333;
  -webkit-box-shadow: inset 1px 1px 3px 0 #333333;
  -o-box-shadow: inset 1px 1px 3px 0 #333333;
  box-shadow: inset 1px 1px 3px 0 #333333;
}
/* line 144, ../../app/stylesheets/partials/_custom.sass */
#mobile h2 {
  margin-left: 16px;
  color: #ececec;
  font-size: 24px;
  margin-bottom: 16px;
}
/* line 149, ../../app/stylesheets/partials/_custom.sass */
#mobile form {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 153, ../../app/stylesheets/partials/_custom.sass */
#mobile form p {
  width: 100%;
}
/* line 155, ../../app/stylesheets/partials/_custom.sass */
#mobile form label {
  font-size: 18px;
  display: block;
}
/* line 158, ../../app/stylesheets/partials/_custom.sass */
#mobile form input, #mobile form textarea, #mobile form select {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #cccccc;
  width: 100%;
  font-size: 24px;
  padding: 8px 0;
  display: block;
}
/* line 165, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit] {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #74c044;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90cd6a), color-stop(50%, #74c044), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -moz-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -o-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -ms-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  border-color: #467628;
  border-left-color: #74c044;
  border-top-color: #74c044;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  color: white;
  text-shadow: #51892e 0 1px 2px;
}
/* line 21, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 23, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 25, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:active {
  padding: 13px 15px 11px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:hover, #mobile form input[type=submit]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd37d), color-stop(50%, #82c657), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -moz-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -o-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -ms-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: linear-gradient(top, #9fd37d, #82c657, #5d9c35);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:active, #mobile form input[type=submit].depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ba447), color-stop(100%, #77b351));
  background-image: -webkit-linear-gradient(top, #6ba447, #77b351);
  background-image: -moz-linear-gradient(top, #6ba447, #77b351);
  background-image: -o-linear-gradient(top, #6ba447, #77b351);
  background-image: -ms-linear-gradient(top, #6ba447, #77b351);
  background-image: linear-gradient(top, #6ba447, #77b351);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #467628;
}

/* line 168, ../../app/stylesheets/partials/_custom.sass */
.button {
  width: 90%;
  margin: 0 auto;
  padding: 12px 0 !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
}
/* line 174, ../../app/stylesheets/partials/_custom.sass */
.button.activity {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #74c044;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90cd6a), color-stop(50%, #74c044), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -moz-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -o-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -ms-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  border-color: #467628;
  border-left-color: #74c044;
  border-top-color: #74c044;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  color: white;
  text-shadow: #51892e 0 1px 2px;
}
/* line 21, ../../app/stylesheets/partials/_custom.sass */
.button.activity:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 23, ../../app/stylesheets/partials/_custom.sass */
.button.activity:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 25, ../../app/stylesheets/partials/_custom.sass */
.button.activity:active {
  padding: 13px 15px 11px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
.button.activity:hover, .button.activity:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd37d), color-stop(50%, #82c657), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -moz-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -o-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -ms-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: linear-gradient(top, #9fd37d, #82c657, #5d9c35);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
.button.activity:active, .button.activity.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ba447), color-stop(100%, #77b351));
  background-image: -webkit-linear-gradient(top, #6ba447, #77b351);
  background-image: -moz-linear-gradient(top, #6ba447, #77b351);
  background-image: -o-linear-gradient(top, #6ba447, #77b351);
  background-image: -ms-linear-gradient(top, #6ba447, #77b351);
  background-image: linear-gradient(top, #6ba447, #77b351);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #467628;
}
/* line 176, ../../app/stylesheets/partials/_custom.sass */
.button.black {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #111111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2b2b), color-stop(50%, #111111), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #2b2b2b, #111111, #000000);
  background-image: -moz-linear-gradient(top, #2b2b2b, #111111, #000000);
  background-image: -o-linear-gradient(top, #2b2b2b, #111111, #000000);
  background-image: -ms-linear-gradient(top, #2b2b2b, #111111, #000000);
  background-image: linear-gradient(top, #2b2b2b, #111111, #000000);
  border-color: black;
  border-left-color: #111111;
  border-top-color: #111111;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(119, 119, 119, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(119, 119, 119, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(119, 119, 119, 0.5);
  color: white;
  text-shadow: black 0 1px 2px;
}
/* line 21, ../../app/stylesheets/partials/_custom.sass */
.button.black:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 23, ../../app/stylesheets/partials/_custom.sass */
.button.black:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 25, ../../app/stylesheets/partials/_custom.sass */
.button.black:active {
  padding: 13px 15px 11px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
.button.black:hover, .button.black:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(50%, #1e1e1e), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #373737, #1e1e1e, #000000);
  background-image: -moz-linear-gradient(top, #373737, #1e1e1e, #000000);
  background-image: -o-linear-gradient(top, #373737, #1e1e1e, #000000);
  background-image: -ms-linear-gradient(top, #373737, #1e1e1e, #000000);
  background-image: linear-gradient(top, #373737, #1e1e1e, #000000);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
.button.black:active, .button.black.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d0d0d), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #0d0d0d, #111111);
  background-image: -moz-linear-gradient(top, #0d0d0d, #111111);
  background-image: -o-linear-gradient(top, #0d0d0d, #111111);
  background-image: -ms-linear-gradient(top, #0d0d0d, #111111);
  background-image: linear-gradient(top, #0d0d0d, #111111);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: black;
}
/* line 178, ../../app/stylesheets/partials/_custom.sass */
.button.small {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e6e6e), color-stop(50%, #555555), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -moz-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -o-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -ms-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  border-color: #222222;
  border-left-color: #555555;
  border-top-color: #555555;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  color: white;
  text-shadow: #2f2f2f 0 1px 2px;
  margin-bottom: 0;
}
/* line 45, ../../app/stylesheets/partials/_custom.sass */
.button.small:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 47, ../../app/stylesheets/partials/_custom.sass */
.button.small:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 49, ../../app/stylesheets/partials/_custom.sass */
.button.small:active {
  padding: 5px 10px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
.button.small:hover, .button.small:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b7b7b), color-stop(50%, #626262), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -moz-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -o-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -ms-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
.button.small:active, .button.small.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(top, #484848, #555555);
  background-image: -moz-linear-gradient(top, #484848, #555555);
  background-image: -o-linear-gradient(top, #484848, #555555);
  background-image: -ms-linear-gradient(top, #484848, #555555);
  background-image: linear-gradient(top, #484848, #555555);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #222222;
}
/* line 181, ../../app/stylesheets/partials/_custom.sass */
.button#start {
  color: white;
  background: #075805;
}
/* line 184, ../../app/stylesheets/partials/_custom.sass */
.button#split_button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e6e6e), color-stop(50%, #555555), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -moz-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -o-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -ms-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  border-color: #222222;
  border-left-color: #555555;
  border-top-color: #555555;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  color: white;
  text-shadow: #2f2f2f 0 1px 2px;
  color: white;
  background: #232352;
}
/* line 21, ../../app/stylesheets/partials/_custom.sass */
.button#split_button:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 23, ../../app/stylesheets/partials/_custom.sass */
.button#split_button:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 25, ../../app/stylesheets/partials/_custom.sass */
.button#split_button:active {
  padding: 13px 15px 11px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
.button#split_button:hover, .button#split_button:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b7b7b), color-stop(50%, #626262), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -moz-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -o-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -ms-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
.button#split_button:active, .button#split_button.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(top, #484848, #555555);
  background-image: -moz-linear-gradient(top, #484848, #555555);
  background-image: -o-linear-gradient(top, #484848, #555555);
  background-image: -ms-linear-gradient(top, #484848, #555555);
  background-image: linear-gradient(top, #484848, #555555);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #222222;
}
/* line 188, ../../app/stylesheets/partials/_custom.sass */
.button#end {
  color: white;
  background: #8c0b0b;
  display: none;
}

/* line 203, ../../app/stylesheets/partials/_custom.sass */
#login p {
  padding: 0;
  margin-bottom: 10px;
}

/* line 208, ../../app/stylesheets/partials/_custom.sass */
#gallery img {
  border: solid 4px #333333;
  display: block;
  margin-bottom: 10px;
}

/* line 214, ../../app/stylesheets/partials/_custom.sass */
#point_map #map {
  width: 288px;
  height: 280px;
  border: solid 4px #333333;
}

/* line 218, ../../app/stylesheets/partials/_custom.sass */
#qr {
  clear: both;
}
/* line 220, ../../app/stylesheets/partials/_custom.sass */
#qr img {
  clear: both;
}

/* line 223, ../../app/stylesheets/partials/_custom.sass */
.mark {
  width: 80%;
  margin: 0 auto;
  background: #888888;
  font-size: 18px;
  font-weight: bold;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 11px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 235, ../../app/stylesheets/partials/_custom.sass */
.mark .inner {
  width: 200px;
  margin: 0 auto;
}
/* line 238, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .left {
  float: left;
}
/* line 240, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .left div {
  margin-top: 5px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  text-align: right;
}
/* line 246, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .left div.type {
  margin: 0;
  text-transform: capitalize;
}
/* line 249, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .right {
  float: right;
}
/* line 251, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .right .timer {
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  font-size: 18px;
  padding: 0 10px;
  color: #333333;
  background: white;
  -moz-box-shadow: inset 1px 1px 3px 0 #333333;
  -webkit-box-shadow: inset 1px 1px 3px 0 #333333;
  -o-box-shadow: inset 1px 1px 3px 0 #333333;
  box-shadow: inset 1px 1px 3px 0 #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 262, ../../app/stylesheets/partials/_custom.sass */
.mark.start {
  border-top: solid 3px #69f666;
  background: #c8fcc6;
  color: #111111;
}
/* line 265, ../../app/stylesheets/partials/_custom.sass */
.mark.start .type {
  color: #13e90d;
}
/* line 268, ../../app/stylesheets/partials/_custom.sass */
.mark.split {
  background: #c2c2e5;
  color: #333333;
}
/* line 271, ../../app/stylesheets/partials/_custom.sass */
.mark.end {
  border-top: solid 3px #f04040;
  background: #f79f9f;
  color: #111111;
}
/* line 274, ../../app/stylesheets/partials/_custom.sass */
.mark.end .type {
  color: #f04040;
}
/* line 278, ../../app/stylesheets/partials/_custom.sass */
.mark.end .inner .right {
  display: none;
}

/* line 281, ../../app/stylesheets/partials/_custom.sass */
#main_nav {
  background: url(img/nav.png) left top no-repeat;
  width: 349px;
  height: 306px;
  padding-left: 40px;
  position: fixed;
  top: 5px;
  left: 5px;
}
/* line 289, ../../app/stylesheets/partials/_custom.sass */
#main_nav h1 {
  margin-top: 24px;
  font-size: 26px;
  color: white;
  font-weight: normal;
}
/* line 294, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul, #main_nav li {
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
/* line 298, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul {
  margin-top: 20px;
}
/* line 300, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul li {
  margin-top: 16px;
}
/* line 302, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul li.why {
  margin-top: 18px;
}
/* line 304, ../../app/stylesheets/partials/_custom.sass */
#main_nav a {
  font-family: "Luckiest Guy", cursive;
  font-size: 23px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 311, ../../app/stylesheets/partials/_custom.sass */
#main_nav a:hover, #main_nav a.current {
  color: #fdff3e;
}

/* line 314, ../../app/stylesheets/partials/_custom.sass */
#info_page img {
  width: 280px;
  float: left;
  margin-left: 16px;
  margin-bottom: 10px;
}

/* line 320, ../../app/stylesheets/partials/_custom.sass */
#zoomy_image img {
  margin-left: 16px;
  width: 280px;
  border: solid 4px #333333;
}

/* line 325, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons {
  margin-left: 35px;
}
/* line 327, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons .button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(50%, #cccccc), color-stop(100%, #b3b3b3));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #cccccc, #b3b3b3);
  background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc, #b3b3b3);
  background-image: -o-linear-gradient(top, #e6e6e6, #cccccc, #b3b3b3);
  background-image: -ms-linear-gradient(top, #e6e6e6, #cccccc, #b3b3b3);
  background-image: linear-gradient(top, #e6e6e6, #cccccc, #b3b3b3);
  border-color: #999999;
  border-left-color: #cccccc;
  border-top-color: #cccccc;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  color: white;
  text-shadow: #a6a6a6 0 1px 2px;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}
/* line 45, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons .button:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 47, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons .button:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 49, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons .button:active {
  padding: 5px 10px;
}
/* line 70, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons .button:hover, #zoom_buttons .button:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(50%, #d9d9d9), color-stop(100%, #b3b3b3));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9, #b3b3b3);
  background-image: -moz-linear-gradient(top, #f2f2f2, #d9d9d9, #b3b3b3);
  background-image: -o-linear-gradient(top, #f2f2f2, #d9d9d9, #b3b3b3);
  background-image: -ms-linear-gradient(top, #f2f2f2, #d9d9d9, #b3b3b3);
  background-image: linear-gradient(top, #f2f2f2, #d9d9d9, #b3b3b3);
}
/* line 72, ../../app/stylesheets/partials/_custom.sass */
#zoom_buttons .button:active, #zoom_buttons .button.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfbfbf), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #bfbfbf, #cccccc);
  background-image: -moz-linear-gradient(top, #bfbfbf, #cccccc);
  background-image: -o-linear-gradient(top, #bfbfbf, #cccccc);
  background-image: -ms-linear-gradient(top, #bfbfbf, #cccccc);
  background-image: linear-gradient(top, #bfbfbf, #cccccc);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #999999;
}

/* line 333, ../../app/stylesheets/partials/_custom.sass */
.page {
  padding: 20px 30px;
  color: white;
  font-size: 14px;
}
/* line 337, ../../app/stylesheets/partials/_custom.sass */
.page h2 {
  font-size: 26px;
  margin-bottom: 5px;
}
/* line 340, ../../app/stylesheets/partials/_custom.sass */
.page h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 344, ../../app/stylesheets/partials/_custom.sass */
.page ul {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}
/* line 349, ../../app/stylesheets/partials/_custom.sass */
.page ul li {
  padding-top: 5px;
}

/* line 353, ../../app/stylesheets/partials/_custom.sass */
#pages_container {
  width: 980px;
  margin: 0 auto;
  padding-top: 170px;
}
/* line 357, ../../app/stylesheets/partials/_custom.sass */
#pages_container #what_page {
  margin-left: 100px;
  width: 440px;
  background: url(img/sign.png) left top no-repeat;
  height: 387px;
}
/* line 362, ../../app/stylesheets/partials/_custom.sass */
#pages_container #how_page {
  height: 387px;
  width: 400px;
  margin-top: 160px;
  float: right;
  background: url(img/sign.png) left top no-repeat;
}
/* line 368, ../../app/stylesheets/partials/_custom.sass */
#pages_container #why_page {
  background: url(img/sign.png) left top no-repeat;
  height: 327px;
  width: 400px;
  clear: both;
  margin-top: 50px;
}
/* line 374, ../../app/stylesheets/partials/_custom.sass */
#pages_container #who_page {
  background: url(img/sign.png) left top no-repeat;
  height: 327px;
  width: 400px;
  clear: both;
  float: right;
  margin-top: 250px;
}

/* line 67, ../../app/stylesheets/partials/_page.sass */
footer {
  clear: both;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
