/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 5, ../../app/stylesheets/partials/_fonts.scss */
h1, h2, h3 {
  font-weight: bold;
  font-size: 20px;
}

/* line 8, ../../app/stylesheets/partials/_page.sass */
body, select, input, textarea {
  color: #444444;
}

/* line 14, ../../app/stylesheets/partials/_page.sass */
h4, h5, h6 {
  font-weight: bold;
}

/* line 19, ../../app/stylesheets/partials/_page.sass */
a, a:active, a:visited {
  color: #607890;
}

/* line 22, ../../app/stylesheets/partials/_page.sass */
a:hover {
  color: #003366;
}

/* line 25, ../../app/stylesheets/partials/_page.sass */
strong, th {
  font-weight: bold;
}

/* line 28, ../../app/stylesheets/partials/_page.sass */
small {
  font-size: 85%;
}

/* line 38, ../../app/stylesheets/partials/_page.sass */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 42, ../../app/stylesheets/partials/_page.sass */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 50, ../../app/stylesheets/partials/_page.sass */
body.pages {
  background: url(img/gc_bg.jpg) left top no-repeat fixed;
}

/* line 52, ../../app/stylesheets/partials/_page.sass */
body.marks {
  background: white;
}

/* line 54, ../../app/stylesheets/partials/_page.sass */
body.points {
  background: white;
}

/* line 56, ../../app/stylesheets/partials/_page.sass */
p {
  margin: 0;
  padding: 0;
}

/* line 59, ../../app/stylesheets/partials/_page.sass */
#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 64, ../../app/stylesheets/partials/_page.sass */
#mobile {
  padding: 20px;
}

/* line 71, ../../app/stylesheets/partials/_custom.sass */
#point, #activity {
  margin-top: 40px;
}

/* line 73, ../../app/stylesheets/partials/_custom.sass */
#mini_nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 20px;
  background: #ececec;
  width: 100%;
  border-bottom: solid 2px #888888;
}

/* line 82, ../../app/stylesheets/partials/_custom.sass */
#mobile p {
  margin-bottom: 20px;
  font-size: 16px;
}
/* line 85, ../../app/stylesheets/partials/_custom.sass */
#mobile h2 {
  width: 100%;
  background: #ddddd3;
  color: #333333;
  text-align: center;
  padding: 5px 0;
  border-top: solid 2px #d2d2c5;
  border-bottom: solid 2px #d2d2c5;
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 95, ../../app/stylesheets/partials/_custom.sass */
#mobile form {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 99, ../../app/stylesheets/partials/_custom.sass */
#mobile form p {
  width: 100%;
}
/* line 101, ../../app/stylesheets/partials/_custom.sass */
#mobile form label {
  font-size: 18px;
  display: block;
}
/* line 104, ../../app/stylesheets/partials/_custom.sass */
#mobile form input, #mobile form textarea, #mobile form select {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #cccccc;
  width: 100%;
  font-size: 24px;
  padding: 8px 0;
  display: block;
}
/* line 111, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit] {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #74c044;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90cd6a), color-stop(50%, #74c044), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -moz-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -o-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -ms-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  border-color: #467628;
  border-left-color: #74c044;
  border-top-color: #74c044;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  color: white;
  text-shadow: #51892e 0 1px 2px;
}
/* line 15, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 17, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 19, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:active {
  padding: 13px 15px 11px;
}
/* line 64, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:hover, #mobile form input[type=submit]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd37d), color-stop(50%, #82c657), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -moz-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -o-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -ms-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: linear-gradient(top, #9fd37d, #82c657, #5d9c35);
}
/* line 66, ../../app/stylesheets/partials/_custom.sass */
#mobile form input[type=submit]:active, #mobile form input[type=submit].depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ba447), color-stop(100%, #77b351));
  background-image: -webkit-linear-gradient(top, #6ba447, #77b351);
  background-image: -moz-linear-gradient(top, #6ba447, #77b351);
  background-image: -o-linear-gradient(top, #6ba447, #77b351);
  background-image: -ms-linear-gradient(top, #6ba447, #77b351);
  background-image: linear-gradient(top, #6ba447, #77b351);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #467628;
}

/* line 114, ../../app/stylesheets/partials/_custom.sass */
.button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
}
/* line 117, ../../app/stylesheets/partials/_custom.sass */
.button.activity {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #74c044;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90cd6a), color-stop(50%, #74c044), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -moz-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -o-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: -ms-linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  background-image: linear-gradient(top, #90cd6a, #74c044, #5d9c35);
  border-color: #467628;
  border-left-color: #74c044;
  border-top-color: #74c044;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(232, 232, 232, 0.5);
  color: white;
  text-shadow: #51892e 0 1px 2px;
}
/* line 15, ../../app/stylesheets/partials/_custom.sass */
.button.activity:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 17, ../../app/stylesheets/partials/_custom.sass */
.button.activity:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 19, ../../app/stylesheets/partials/_custom.sass */
.button.activity:active {
  padding: 13px 15px 11px;
}
/* line 64, ../../app/stylesheets/partials/_custom.sass */
.button.activity:hover, .button.activity:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fd37d), color-stop(50%, #82c657), color-stop(100%, #5d9c35));
  background-image: -webkit-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -moz-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -o-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: -ms-linear-gradient(top, #9fd37d, #82c657, #5d9c35);
  background-image: linear-gradient(top, #9fd37d, #82c657, #5d9c35);
}
/* line 66, ../../app/stylesheets/partials/_custom.sass */
.button.activity:active, .button.activity.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ba447), color-stop(100%, #77b351));
  background-image: -webkit-linear-gradient(top, #6ba447, #77b351);
  background-image: -moz-linear-gradient(top, #6ba447, #77b351);
  background-image: -o-linear-gradient(top, #6ba447, #77b351);
  background-image: -ms-linear-gradient(top, #6ba447, #77b351);
  background-image: linear-gradient(top, #6ba447, #77b351);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #467628;
}
/* line 119, ../../app/stylesheets/partials/_custom.sass */
.button.small {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e6e6e), color-stop(50%, #555555), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -moz-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -o-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -ms-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  border-color: #222222;
  border-left-color: #555555;
  border-top-color: #555555;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  color: white;
  text-shadow: #2f2f2f 0 1px 2px;
  margin-bottom: 0;
}
/* line 39, ../../app/stylesheets/partials/_custom.sass */
.button.small:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 41, ../../app/stylesheets/partials/_custom.sass */
.button.small:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 43, ../../app/stylesheets/partials/_custom.sass */
.button.small:active {
  padding: 5px 10px;
}
/* line 64, ../../app/stylesheets/partials/_custom.sass */
.button.small:hover, .button.small:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b7b7b), color-stop(50%, #626262), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -moz-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -o-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -ms-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
}
/* line 66, ../../app/stylesheets/partials/_custom.sass */
.button.small:active, .button.small.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(top, #484848, #555555);
  background-image: -moz-linear-gradient(top, #484848, #555555);
  background-image: -o-linear-gradient(top, #484848, #555555);
  background-image: -ms-linear-gradient(top, #484848, #555555);
  background-image: linear-gradient(top, #484848, #555555);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #222222;
}
/* line 122, ../../app/stylesheets/partials/_custom.sass */
.button#start {
  color: white;
  background: #075805;
}
/* line 125, ../../app/stylesheets/partials/_custom.sass */
.button#split {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-color: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e6e6e), color-stop(50%, #555555), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -moz-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -o-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: -ms-linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  background-image: linear-gradient(top, #6e6e6e, #555555, #3b3b3b);
  border-color: #222222;
  border-left-color: #555555;
  border-top-color: #555555;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(187, 187, 187, 0.5);
  color: white;
  text-shadow: #2f2f2f 0 1px 2px;
  color: white;
  background: #232352;
}
/* line 15, ../../app/stylesheets/partials/_custom.sass */
.button#split:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 17, ../../app/stylesheets/partials/_custom.sass */
.button#split:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 19, ../../app/stylesheets/partials/_custom.sass */
.button#split:active {
  padding: 13px 15px 11px;
}
/* line 64, ../../app/stylesheets/partials/_custom.sass */
.button#split:hover, .button#split:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b7b7b), color-stop(50%, #626262), color-stop(100%, #3b3b3b));
  background-image: -webkit-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -moz-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -o-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: -ms-linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
  background-image: linear-gradient(top, #7b7b7b, #626262, #3b3b3b);
}
/* line 66, ../../app/stylesheets/partials/_custom.sass */
.button#split:active, .button#split.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(top, #484848, #555555);
  background-image: -moz-linear-gradient(top, #484848, #555555);
  background-image: -o-linear-gradient(top, #484848, #555555);
  background-image: -ms-linear-gradient(top, #484848, #555555);
  background-image: linear-gradient(top, #484848, #555555);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #222222;
}
/* line 129, ../../app/stylesheets/partials/_custom.sass */
.button#end {
  color: white;
  background: #8c0b0b;
  display: none;
}

/* line 136, ../../app/stylesheets/partials/_custom.sass */
#qr {
  clear: both;
}
/* line 138, ../../app/stylesheets/partials/_custom.sass */
#qr img {
  clear: both;
}

/* line 141, ../../app/stylesheets/partials/_custom.sass */
.mark {
  background: #888888;
  font-size: 18px;
  font-weight: bold;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 11px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 151, ../../app/stylesheets/partials/_custom.sass */
.mark .inner {
  width: 200px;
  margin: 0 auto;
}
/* line 154, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .left {
  float: left;
}
/* line 156, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .left div {
  margin-top: 5px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  text-align: right;
}
/* line 162, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .left div.type {
  margin: 0;
  text-transform: capitalize;
}
/* line 165, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .right {
  float: right;
}
/* line 167, ../../app/stylesheets/partials/_custom.sass */
.mark .inner .right .timer {
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  font-size: 18px;
  padding: 0 10px;
  color: #333333;
  background: white;
  -moz-box-shadow: inset 1px 1px 3px 0 #333333;
  -webkit-box-shadow: inset 1px 1px 3px 0 #333333;
  -o-box-shadow: inset 1px 1px 3px 0 #333333;
  box-shadow: inset 1px 1px 3px 0 #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 178, ../../app/stylesheets/partials/_custom.sass */
.mark.start {
  border-top: solid 3px #69f666;
  background: #c8fcc6;
  color: #111111;
}
/* line 181, ../../app/stylesheets/partials/_custom.sass */
.mark.start .type {
  color: #13e90d;
}
/* line 184, ../../app/stylesheets/partials/_custom.sass */
.mark.split {
  background: #c2c2e5;
  color: #333333;
}
/* line 187, ../../app/stylesheets/partials/_custom.sass */
.mark.end {
  border-top: solid 3px #f04040;
  background: #f79f9f;
  color: #111111;
}
/* line 190, ../../app/stylesheets/partials/_custom.sass */
.mark.end .type {
  color: #f04040;
}
/* line 194, ../../app/stylesheets/partials/_custom.sass */
.mark.end .inner .right {
  display: none;
}

/* line 197, ../../app/stylesheets/partials/_custom.sass */
#main_nav {
  background: url(img/nav.png) left top no-repeat;
  width: 349px;
  height: 306px;
  padding-left: 40px;
  position: fixed;
  top: 5px;
  left: 5px;
}
/* line 205, ../../app/stylesheets/partials/_custom.sass */
#main_nav h1 {
  margin-top: 24px;
  font-size: 26px;
  color: white;
  font-weight: normal;
}
/* line 210, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul, #main_nav li {
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
/* line 214, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul {
  margin-top: 20px;
}
/* line 216, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul li {
  margin-top: 16px;
}
/* line 218, ../../app/stylesheets/partials/_custom.sass */
#main_nav ul li.why {
  margin-top: 18px;
}
/* line 220, ../../app/stylesheets/partials/_custom.sass */
#main_nav a {
  font-family: "Luckiest Guy", cursive;
  font-size: 23px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 227, ../../app/stylesheets/partials/_custom.sass */
#main_nav a:hover, #main_nav a.current {
  color: #fdff3e;
}

/* line 229, ../../app/stylesheets/partials/_custom.sass */
.page {
  padding: 20px 30px;
  color: white;
  font-size: 14px;
}
/* line 233, ../../app/stylesheets/partials/_custom.sass */
.page h2 {
  font-size: 26px;
  margin-bottom: 5px;
}
/* line 236, ../../app/stylesheets/partials/_custom.sass */
.page h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 240, ../../app/stylesheets/partials/_custom.sass */
.page ul {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}
/* line 245, ../../app/stylesheets/partials/_custom.sass */
.page ul li {
  padding-top: 5px;
}

/* line 249, ../../app/stylesheets/partials/_custom.sass */
#pages_container {
  width: 980px;
  margin: 0 auto;
  padding-top: 170px;
}
/* line 253, ../../app/stylesheets/partials/_custom.sass */
#pages_container #what_page {
  margin-left: 100px;
  width: 440px;
  background: url(img/sign.png) left top no-repeat;
  height: 387px;
}
/* line 258, ../../app/stylesheets/partials/_custom.sass */
#pages_container #how_page {
  height: 387px;
  width: 400px;
  margin-top: 160px;
  float: right;
  background: url(img/sign.png) left top no-repeat;
}
/* line 264, ../../app/stylesheets/partials/_custom.sass */
#pages_container #why_page {
  background: url(img/sign.png) left top no-repeat;
  height: 327px;
  width: 400px;
  clear: both;
  margin-top: 50px;
}
/* line 270, ../../app/stylesheets/partials/_custom.sass */
#pages_container #who_page {
  background: url(img/sign.png) left top no-repeat;
  height: 327px;
  width: 400px;
  clear: both;
  float: right;
  margin-top: 250px;
}

/* line 71, ../../app/stylesheets/partials/_page.sass */
footer {
  clear: both;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180@generic/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
