<div id="zoomy_image">
<img id="thumb"  src="/images/{{src}}.jpg" title="/images/{{src}}_large.jpg" />
</div>
<div id="zoom_buttons">
<div class="button small">1x</div>
<div class="button small">2x</div>
<div class="button small">4x</div>
<div class="button small">8x</div>
</div>
