%h2
  Demo
%p
  =link_to "apple", "http://itunes.apple.com/us/app/scan/id411206394?mt=8"
  %br
  =link_to "android", "https://market.android.com/details?id=com.google.zxing.client.android&hl=en"
  %br

%p
  pretend this is outside the office or somewhere...
  %br
  <img src="http://qrcode.kaywa.com/img.php?s=8&d=http%3A%2F%2Fgc.enspiral.info%2Fpoints%2F1" alt="qrcode"  />

%p 
  Have a look see at some of the nav items, then click on the little man, and start the activity.

%p
  pretend you are walking and you see this at your destination
  %br
  <img src="http://qrcode.kaywa.com/img.php?s=8&d=http%3A%2F%2Fgc.enspiral.info%2Fpoints%2F2" alt="qrcode"  />
