%h2 WHAT IS GRAMPIONS CHAMPION?
%ul
  %li
    %h3 A fitness tool
    %p You can use it to track your time up, down, and around the hill. Compare your times to others, and track how many calories you burn.
  %li
    %h3 An informal competition
    %p Win prizes for things like: most improved time, most dedicated, fastest ascent...
  %li
    %h3 A personal guide
    %p Get information on the track and wildlife you are likely to see on your walk.
