#pages_container
  #what_page.page
    =render :partial => 'what'
  #how_page.page
    =render :partial => 'how'
  #why_page.page
    =render :partial => 'why'
  #who_page.page
    =render :partial => 'who'
    
