:javascript
  $(document).ready(function(){
  window.Gc.App.Main.controllers.push(new window.Gc.Controllers.PagesController());
  Backbone.history.start();
  });
#pages_container
  #what_page.page
    =render :partial => 'what'
  #how_page.page
    =render :partial => 'how'
  #why_page.page
    =render :partial => 'why'
  #who_page.page
    =render :partial => 'who'
    
