<div id="mini_nav">
<div id="pages_nav">
{{#each pages}}
<a href=#/page/{{id}}>{{nav_name}}</a>
{{/each}}
</div>
</div>
<h2>{{name}}</h2>
<p>Select an activity from the list below to view information then begin</p>
{{#each activities}}
<a href="#/activities/{{id}}" class="button activity">{{name}}</a>
{{/each}}

