/*
Syntax error: Undefined variable: "$font-color".
        on line 9 of /home/test/code/rails/_personal/gchamp/app/stylesheets/partials/scss_old_page.scss

4: // The following html5-boilerplate styles should
5: // probably be customized for each site
6: //-----------------------------------------------
7: 
8: body, select, input, textarea {
9:   color: $font-color;
10:   // Set your base font here, to apply evenly
11:   // font-family: Georgia, serif;
12: }
13: 
14: //Headers (h1, h2, etc) have no default font-size or margin; define those yourself

Backtrace:
/home/test/code/rails/_personal/gchamp/app/stylesheets/partials/scss_old_page.scss:9
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/script/variable.rb:50:in `_perform'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/script/node.rb:40:in `perform'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:235:in `visit_rule'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/home/test/.rvm/gems/ruby-1.9.2-p180@generic/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/home/test/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/test/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/test/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$font-color\".\A         on line 9 of /home/test/code/rails/_personal/gchamp/app/stylesheets/partials/scss_old_page.scss\A \A 4: // The following html5-boilerplate styles should\A 5: // probably be customized for each site\A 6: //-----------------------------------------------\A 7: \A 8: body, select, input, textarea {\A 9:   color: $font-color;\A 10:   // Set your base font here, to apply evenly\A 11:   // font-family: Georgia, serif;\A 12: }\A 13: \A 14: //Headers (h1, h2, etc) have no default font-size or margin; define those yourself"; }
