<h2>{{name}}</h2>
<h3>{{point_name}}</h3>
<!--<p id="play">PLAY</p> -->
<div class="button" id="split">Split</div> 
<p>You have started better get going</p>
<p>Your previous best was...</p>
<div id="marks"></div>

