#main_nav
  %h1 Grampions Champion
  %ul
    %li.what= link_to "WHAT?", "/#pages/what"
    %li.how= link_to "HOW?", "/#pages/how"
    %li.why= link_to "WHY?", "/#pages/why"
    %li.who= link_to "WHO?", "/#pages/who"
